<%= form_for(@invoice, :html => { :class => "ui form"}) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<h4 class="ui dividing header">Invoice Information</h4>
  <div class="fields">
    <div class="four wide field">
      <%= f.label :date %><br>
      <%= f.date_field :date, :value => Date.today %> 
      <!--, :value => Time.now.strftime('%Y-%m-%d')-->
    </div>
    <div class="twelve wide field">
      <%= f.label :company %><br>
      <%= f.text_field :company %>
    </div>
  </div>
  <div class="fields">
    <div class="two wide field">
      <%= f.label :tax %><br>
      <%= f.text_field :tax %>
    </div>
    <div class="fourteen wide field">
      <%= f.label :sales_person %><br>     
      <%= f.collection_select :employee_id, Employee.all, :id, :name, {:include_blank => true}, { multiple: false }  %>
    </div>
  </div>
  <div class="fields">
    <div class="two wide field">
    <div class="inline field">
      <div class="ui toggle checkbox">
        <%= f.check_box :is_paid, class:"hidden" %>
        <%= f.label :is_paid, "Paid?" %>
      </div>
    </div>      
      
    </div>
  </div>

    <%= f.submit "Save", class:"ui blue button" %>
  
<% end %>
