<%= javascript_include_tag 'jquery.tablesort.min' %>

<p id="notice"><%= notice %></p>


<div class="ui form" style="margin-bottom: 20px; float:right;">
    <%= form_tag invoices_path, method: :get , :id => "date-range-form" do %>
      <div class="fields">
        <div class="field">
          <label for="date-range-name">Date Range</label>
          <select id="date-range-select" name="date_range_name" class="ui dropdown">
            <option value="<%=@date_range_name %>"><%=@date_range_name %></option>
            <option value="Today">Today</option>
            <option value="Yesterday">Yesterday</option>
            <option value="This Week">This Week</option>
            <option value="Last Week">Last Week</option>
            <option value="This Month">This Month</option>
            <option value="Last Month">Last Month</option>
            <option value="Last 7 Days">Last 7 Days</option>
            <option value="Last 30 Days">Last 30 Days</option>
            <option value="Last 60 Days">Last 60 Days</option>
            <option value="Last 90 Days">Last 90 Days</option>
          </select>
        </div>
        <div class="field">
          <%= label_tag 'start_date', 'From', class:"" %>
          <%= date_field_tag 'start_date', @start_date, class:"" %>        
        </div>
        <div class="field">
          <%= label_tag 'end_date', 'To', class:"" %>
          <%= date_field_tag 'end_date', @end_date, class:"" %>        
        </div>
        <div class="field" style="margin-top: 24px;">
          <%= submit_tag 'Search', class:"ui button" %>
        </div>
      </div>
    <% end %>
</div>




<h2>Invoices</h2>

<table  class="ui basic sortable table">
  <thead>
    <tr>
      <th class="sorted ascending">Date</th>
      <th>Company</th>
      <th class="number">Tax</th>
      <th>Sales person</th>
      <th>Paid</th>
      <th class="no-sort"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.date.strftime("%-m/%-d/%Y") %></td>
        <td><%= invoice.company %></td>
        <td><%= invoice.tax %>%</td>
        <td><%= invoice.sales_person %></td>
        <td><%= invoice.is_paid?  ? 'Yes' : 'No' %></td>
        <td>
          <%= link_to 'Show', invoice %>
          <%= link_to 'Edit', edit_invoice_path(invoice) %>
          <%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path, class:"ui blue button" %>


<script>
  $('table').tablesort();
  $('.ui.dropdown').dropdown();
  
  $( "#date-range-select" ).change(function() {
    var startDate;
    var endDate;
    var rangeSelect =  $( "#date-range-select" ).val();
    if( rangeSelect == 'Today' ){
      startDate = moment();
      endDate = moment();
    }else if( rangeSelect == 'Yesterday'){
      startDate = moment().subtract(1, 'days');
      endDate = moment().subtract(1, 'days');
    }else if ( rangeSelect == 'This Week' ){
      startDate = moment().startOf('week');
      endDate = moment().endOf('week');
    }else if ( rangeSelect == 'Last Week' ){
      startDate = moment().startOf('week').subtract(1, 'weeks');
      endDate = moment().endOf('week').subtract(1, 'weeks');
    }else if ( rangeSelect == 'This Month' ){
      startDate = moment().startOf('month');
      endDate = moment().endOf('month');
    }else if ( rangeSelect == 'Last Month' ){
      startDate = moment().startOf('month').subtract(1, 'month');
      endDate = moment().endOf('month').subtract(1, 'month');
    }else if( rangeSelect == 'Last 7 Days'){
      startDate = moment().subtract(7, 'days');
      endDate = moment();
    }else if( rangeSelect == 'Last 30 Days'){
      startDate = moment().subtract(30, 'days');
      endDate = moment();
    }else if( rangeSelect == 'Last 60 Days'){
      startDate = moment().subtract(60, 'days');
      endDate = moment();
    }else if( rangeSelect == 'Last 90 Days'){
      startDate = moment().subtract(90, 'days');
      endDate = moment();
    }else{
      alert("This is not programmed into the system. If you think this is in error please contact your developer.");
    }
    
    
    startDate = startDate.format('YYYY-MM-DD');
    endDate = endDate.format('YYYY-MM-DD');
    $( "#start_date" ).val(startDate);
    $( "#end_date" ).val(endDate);
    $( "#date-range-form" ).submit();
    
  });
</script>
