  <div class="ui fixed menu">
    <div class="ui container">
      <a href="#" class="header item">
        Enterprise Ape
      </a>
      <%= link_to "About Us" , welcome_about_path, class:"item" %>
      <%= link_to "Contact" , welcome_contact_path, class:"item" %>
      <%= link_to "Features" , welcome_features_path, class:"item" %>
      <%= link_to "FAQs" , welcome_faq_path, class:"item" %>
      <%= link_to "Pricing" , welcome_pricing_path, class:"item" %>
      <%= link_to "Invoices" , invoices_path, class:"item" %>
      
      <% if current_user %>
        <%= link_to "Logout" , destroy_user_session_path, method: :delete, class:"item" %> 
      <% else %>
        <%= link_to "Sign Up" , new_user_registration_path, class:"item" %>
        <%= link_to "Login" , new_user_session_path, class:"item" %> 
      <% end %>

    </div>
  </div>




