  <div class="ui fixed menu">
    <div class="ui container">
      <a href="#" class="header item">
        Enterprise Ape
      </a>
      <%= link_to "About Us" , welcome_about_path, class:"item" %>
      <%= link_to "Contact" , welcome_contact_path, class:"item" %>
      <%= link_to "Features" , welcome_features_path, class:"item" %>
      <%= link_to "FAQs" , welcome_faq_path, class:"item" %>
      <%= link_to "Pricing" , welcome_pricing_path, class:"item" %>
      <%= link_to "Invoices" , invoices_path, class:"item" %>
      <%= link_to "Login" , root_path, class:"item" %> 

    </div>
  </div>




