<!DOCTYPE html>
<html>
<head>
  <title>Enterpriseape</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= linkt_to "Home", root_path %>
<%= linkt_to "About Us", root_path %>
<%= linkt_to "Contact", root_path %>
<%= linkt_to "Features", root_path %>
<%= linkt_to "FAQs", root_path %>
<%= linkt_to "Login", root_path %>

<%= yield %>

</body>
</html>
