<!DOCTYPE html>
<html>
<head>
  <title>Enterpriseape</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <%= render "partials/navigation" %>  
  
  <main class="mdl-layout__content">
    <div class="page-content">
    
      <%= yield %>
    
    </div>
  </main>
</div>

</body>
</html>
